repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        pass_filenames: false
        entry: uv
        args: ['run', 'mypy', 'src']

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv
        args: ['run', 'pytest']
        pass_filenames: false
        language: system
        stages: [pre-commit]
